In [ ]:
from charts.GanttChart import GanttChart

In [ ]:
CSV_ROUTE = "../../output/stackoverflow/stackoverflow.csv"
chartCreator = GanttChart(CSV_ROUTE)
chartCreator.showCharts()

In [1]:
from pprint import pprint as pp
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib

%matplotlib inline
matplotlib.style.use('seaborn')

In [36]:
rpd = pd.read_csv("../../output/reddit/reddit.csv")
rpdOK = pd.read_csv("../../output/reddit/reddit_livevars.csv")
rpdOUT = pd.read_csv("../../output/reddit/reddit_outliers.csv")

In [37]:
rpd.head()

  entityName  variationId     count  firstTimestamp  lastTimestamp
0    Authors            1   3054618      1118030400     1388534391
1    Authors            2  16074611      1119240000     1388534397
2   Comments            1   2143098      1134365188     1193875194
3   Comments            2      1973      1139134174     1193862797
4   Comments            3       355      1140392732     1193874097

In [38]:
import datetime
for i in (rpd,rpdOK,rpdOUT):
    i.firstTimestamp = i.firstTimestamp.apply(lambda t : datetime.datetime.fromtimestamp(t).date())
    i.lastTimestamp = i.lastTimestamp.apply(lambda t : datetime.datetime.fromtimestamp(t).date())
    i.variationId = i.variationId.astype('int32')

In [39]:
rpd.head()

  entityName  variationId     count firstTimestamp lastTimestamp
0    Authors            1   3054618     2005-06-06    2013-12-31
1    Authors            2  16074611     2005-06-20    2013-12-31
2   Comments            1   2143098     2005-12-12    2007-10-31
3   Comments            2      1973     2006-02-05    2007-10-31
4   Comments            3       355     2006-02-19    2007-10-31

In [45]:
def calc_date_range(df):
    return pd.date_range(df.firstTimestamp,df.lastTimestamp)

rpd["timespan"] = rpd.apply(calc_date_range,axis=1)

In [52]:
rpd.groupby(by=["entityName","variationId"])

timespanIndex = pd.date_range(rpd.firstTimestamp.min(),rpd.lastTimestamp.max())

In [53]:
timespanIndex

DatetimeIndex(['2005-06-06', '2005-06-07', '2005-06-08', '2005-06-09',
               '2005-06-10', '2005-06-11', '2005-06-12', '2005-06-13',
               '2005-06-14', '2005-06-15',
               ...
               '2013-12-22', '2013-12-23', '2013-12-24', '2013-12-25',
               '2013-12-26', '2013-12-27', '2013-12-28', '2013-12-29',
               '2013-12-30', '2013-12-31'],
              dtype='datetime64[ns]', length=3131, freq='D')

In [54]:
rpd.set_index(timespanIndex)

ValueError: Length mismatch: Expected axis has 1334 elements, new values have 3131 elements